@switch (buttonType()) {
  @case("button") {
    <span class="button-wrapper" [class.disabled-wrapper]="disabled()">
      <button
        type="button"
        class="btn btn-{{ buttonDesignType() }}"
        [disabled]="disabled()">
        {{ text() }}
      </button>
    </span>
  }
  @case ("link") {
    <span class="button-wrapper" [class.disabled-wrapper]="disabled()">
      <a
        [href]="[disabled() ? null : link()]"
        role="button"
        class="btn btn-{{ buttonDesignType() }}"
        [class.disabled]="disabled()"
        [attr.aria-disabled]="disabled()">
        {{ text() }}
      </a>
    </span>
  }
  @case ("reset") {
    <span class="button-wrapper" [class.disabled-wrapper]="disabled()">
      <input
        type="reset"
        value="{{ text() }}"
        class="btn btn-{{ buttonDesignType() }}"
        [disabled]="disabled()">
    </span>
  }
  @case("submit") {
    <span class="button-wrapper" [class.disabled-wrapper]="disabled()">
      <button
        type="submit"
        class="btn btn-{{ buttonDesignType() }}"
        [disabled]="disabled()">
        {{ text() }}
      </button>
    </span>
  }
  @case("icon") {
    <span class="button-wrapper" [class.disabled-wrapper]="disabled()">
      <a
        [href]="[disabled() ? null : link()]"
        role="button"
        class="btn btn-{{ buttonDesignType() }}"
        [class.disabled]="disabled()"
        [attr.aria-disabled]="disabled()">
        <i class="p-1 bi bi-{{ icon() }}"></i> {{ text() }}
      </a>
    </span>
  }
  @case("iconDownload") {
    <span class="button-wrapper" [class.disabled-wrapper]="disabled()">
      <button
        type="{{ buttonType() }}"
        class="btn btn-{{ buttonDesignType() }}"
        [disabled]="disabled()">
        <i class="p-1 bi bi-{{ icon() }}"></i> {{ text() }}
      </button>
    </span>
  }
}
