<app-nav-comp></app-nav-comp>

<div class="m-4 d-grid gap-4">
  <div class="d-grid gap-3">
    <div class="d-flex gap-3">
      <h1>Markerl korrigieren</h1>
      <app-badge-comp
        class="align-self-center"
        [text]="asStatus(dataDetail().rows[0]['status'])?.label ?? ''"
        [bgColor]="asStatus(dataDetail().rows[0]['status'])?.color ?? ''">
      </app-badge-comp>
    </div>
    <div class="d-grid gap-3">
      <div class="bg-danger-subtle rounded-3 d-grid p-4 w-100">
        <p class="m-0 text-danger">
          <i class="bi bi-exclamation-triangle pe-2"></i>
          <span class="text-danger-emphasis fw-bold">Achtung:</span>
          Diese Korrektur kann das bestehende Clearing-Ergebnis verändern!
        </p>
      </div>
      <div class="bg-info-subtle rounded-3 d-grid p-4 w-100">
        <p class="m-0 text-info-emphasis">
          <i class="bi bi-info-circle pe-2"></i>
          Der ursprüngliche Stand bleibt im Änderungsverlauf erhalten.
        </p>
      </div>
    </div>
  </div>
  <div class="d-grid gap-3">
    <div class="w-100 d-grid rounded-3 border border-dark-subtle bg-{{asStatus(dataDetail().rows[0]['status'])?.color}}-subtle">
      <div class="p-3 rounded-top border-bottom border-dark-subtle gap-4 bg-{{asStatus(dataDetail().rows[0]['status'])?.color}}">
        <p class="m-0 fw-bold">Erfassungsdaten bearbeiten</p>
      </div>
      <div class="d-grid gap-3 p-3">
        <div class="d-grid gap-3">
          @if (dataDetail().rows.length > 0) {
            <div class="row g-3">
              @for (header of dataDetail().headers; track header.key) {
                <div class="col-6">
                  <div class="d-grid w-100">
                    <p class="m-0 text-secondary">{{ header.label }}</p>
                    <p class="m-0">{{ dataDetail().rows[0][header.key] }}</p>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
    @if (asStatus(dataDetail().rows[0]['status'])?.value == "NEEDS_FIXING") {
      <div class="w-100 d-grid rounded-3 border border-dark-subtle bg-{{asStatus(dataDetail().rows[0]['status'])?.color}}-subtle">
        <div class="p-3 rounded-top border-bottom border-dark-subtle gap-4 bg-{{asStatus(dataDetail().rows[0]['status'])?.color}}">
          <p class="m-0 fw-bold">Clearing</p>
        </div>
        <div class="d-grid gap-3 p-3">
          <app-badge-comp
            class="align-self-center"
            [text]="asStatus(dataDetail().rows[0]['status'])?.label ?? ''"
            [bgColor]="asStatus(dataDetail().rows[0]['status'])?.color ?? ''">
          </app-badge-comp>
          <a class="link-underline-warning" href="/clearing-tickets/check-conflict">
            Fall öffnen &rarr;
          </a>
        </div>
      </div>
    }
    <div class="gap-3 d-flex">
      <app-button-comp
        icon="pencil-square"
        text="Korrigieren"
        buttonDesignType="primary"
        buttonType="icon"
        [disabled]="asStatus(dataDetail().rows[0]['status'])?.value == 'CHECKED'"
        link="http://localhost:4200/ticket-details/correct/{{dataDetail().rows[0]['id']}}">
      </app-button-comp>
      <app-button-comp
        text="Zurück zur Hauptseite"
        buttonDesignType="outline-secondary"
        buttonType="link"
        link="http://localhost:4200/admin-overview">
      </app-button-comp>
    </div>
  </div>
</div>
