<app-nav-comp></app-nav-comp>

@if (showSuccessToast()) {
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast show text-bg-success border-0" role="alert">
      <div class="d-flex">
        <div class="toast-body">
          Fall erfolgreich gelöst.
        </div>
      </div>
    </div>
  </div>
}

<div class="m-4 d-grid gap-4">

  <header>
    <div class="d-flex gap-3">
      <h1>Konflikt prüfen</h1>
      <app-badge-comp class="align-self-center" text="Korrektur erforderlich" bgColor="warning"></app-badge-comp>
    </div>
    <p style="color: var(--gray-400)">Diese Seite ist nur bei Tickets, die bei Mitarbeiter und Datum schon, aber etwas anderem nicht übereinstimmen.
      Ansonsten muss ein Konflikt über die Korrekturseite gelöst werden.
      <br> Hier kann nur 1 der beiden Tickets dem anderen zugeordnet werden, danach wird das Ticket als abgeglichen markiert.
    </p>
  </header>


  <app-table-check-conflict-comp
    [data]="dataTable()"
    (correctEmployee)="correctEmployee()"
    (correctAdmin)="correctAdmin()">
  </app-table-check-conflict-comp>
</div>
