<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-grid gap-3 w-50">
  <div class="">
    <label for="username" class="form-label">1. Mitarbeiter</label>
    <select class="form-select" id="username" formControlName="username">
      <option value="" disabled>Bitte auswählen</option>

      @for (employee of employees; track $index) {
        <option [value]="employee.firstName+' '+employee.lastName">
          {{ employee.firstName + " " + employee.lastName }}
        </option>
      }
    </select>
  </div>
  <div class="d-flex gap-3">
    <div class="w-100">
      <label for="date" class="form-label">2. Datum</label>
      <input type="date" class="form-control" id="date" formControlName="useDate">
    </div>
    <div class="w-100">
      <label for="costDepartment" class="form-label">3. Kostenstelle</label>
      <select class="form-select" id="costDepartment" formControlName="costDepartment">
        <option value="" disabled>Bitte auswählen</option>

        @for (costOrder of costOrders; track costOrder.name) {
          <option [value]="costOrder.name">
            {{ costOrder.name }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="d-flex gap-3">
    <div class="w-100">
      <label for="costRank" class="form-label">4. Markerlstufe</label>
      <select class="form-select" id="costRank" formControlName="costRank">
        <option value="" disabled>Bitte auswählen</option>

        @for (tier of tiers; track tier.name) {
          <option [value]="tier.name">
            {{ tier.name }}
          </option>
        }
      </select>    </div>
    <div class="w-100">
      <label for="restaurant" class="form-label">5. Restaurant</label>
      <select class="form-select" id="restaurant" formControlName="restaurant">
        <option value="" disabled>Bitte auswählen</option>

        @for (restaurant of restaurants; track restaurant.name) {
          <option [value]="restaurant.name">
            {{ restaurant.name }}
          </option>
        }
      </select>    </div>
  </div>
  <div class="d-flex gap-1 mt-3">
    <app-button-comp buttonType="submit" [disabled]="form.invalid || form.pending" buttonDesignType="primary" text="Speichern und nächstes"></app-button-comp>
    <app-button-comp buttonType="reset" buttonDesignType="outline-secondary" text="Formular zurücksetzen"></app-button-comp>
    <app-button-comp
      text="Zurück zu Zuletzt erfasste Markerl"
      buttonDesignType="secondary"
      buttonType="link"
      link="http://localhost:4200/most-recent-created">
    </app-button-comp>
  </div>
</form>
