<app-nav-comp></app-nav-comp>

<div class="m-4 d-grid gap-4">

  <div class="d-flex gap-3">
    <h1>Export</h1>
  </div>

  <div class="d-grid gap-4">
    <app-info-flex-comp [data]="infoContainer()"></app-info-flex-comp>
    @if (openConflictsCount() > 0) {
      <div class="bg-danger-subtle rounded-3 d-grid p-4">
        <p class="m-0 text-danger-emphasis fw-bold">Es @if (openConflictsCount() > 1) {sind} @else {ist} noch {{ openConflictsCount() }} @if (openConflictsCount() > 1) {Konflikte} @else {Konflikt} offen!</p>
        <p class="m-0 text-danger">Bitte klären Sie alle Konflikte vor dem Export. <a [href]="['/open-conflicts']" href="/open-conflicts" class="text-danger-emphasis link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Zu offene Konfikte</a></p>
      </div>
    }

    <div class="d-grid rounded-3 border border-dark-subtle">
      <div class="p-3 rounded-top border-bottom border-dark-subtle gap-4 bg-secondary-subtle">
        <p class="m-0 fw-bold">Export</p>
      </div>
      <div class="d-grid gap-3 p-3">
        <p class="m-0 text-secondary">Exportiere alle Daten als CSV-File.</p>
        <div class="d-flex gap-3">
          <app-button-comp (click)="downloadCsvFile()" [disabled]="openConflictsCount() > 0" buttonType="iconDownload" icon="download" buttonDesignType="outline-secondary" text="Export herunterladen"></app-button-comp>
        </div>
      </div>
    </div>
  </div>
</div>
