<app-nav-comp></app-nav-comp>

@if (showSuccessToast()) {
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast show text-bg-success border-0" role="alert">
      <div class="d-flex">
        <div class="toast-body">
          Korrektur erfolgreich gespeichert.
        </div>
      </div>
    </div>
  </div>
}

<div class="m-4 d-grid gap-4">
  <div class="d-grid gap-3">
    <div class="d-flex gap-3">
      <h1>Markerl korrigieren</h1>
      <app-badge-comp
        class="align-self-center"
        [text]="asStatus(dataDetail().rows[0]['status'])?.label ?? ''"
        [bgColor]="asStatus(dataDetail().rows[0]['status'])?.color ?? ''">
      </app-badge-comp>
    </div>
    <div class="d-grid gap-3">
      <div class="bg-danger-subtle rounded-3 d-grid p-4 w-100">
        <p class="m-0 text-danger">
          <i class="bi bi-exclamation-triangle pe-2"></i>
          <span class="text-danger-emphasis fw-bold">Achtung:</span>
          Diese Korrektur kann das bestehende Clearing-Ergebnis verändern!
        </p>
      </div>
      <div class="bg-info-subtle rounded-3 d-grid p-4 w-100">
        <p class="m-0 text-info-emphasis">
          <i class="bi bi-info-circle pe-2"></i>
          Der ursprüngliche Stand bleibt im Änderungsverlauf erhalten.
        </p>
      </div>
    </div>
  </div>
  <div
    class="w-100 d-grid rounded-3 border border-dark-subtle bg-{{asStatus(dataDetail().rows[0]['status'])?.color}}-subtle">
    <div
      class="p-3 rounded-top border-bottom border-dark-subtle bg-{{asStatus(dataDetail().rows[0]['status'])?.color}}">
      <p class="m-0 fw-bold">Erfassungsdaten bearbeiten</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-grid gap-3 p-3">
      <div>
        <label class="form-label">
          1. Mitarbeiter
          @if (form.value.username !== originalValues.username) {
            <span class="text-danger">(Alter Wert: {{ originalValues.username }})</span>
          }
        </label>
        <select class="form-select" formControlName="username">
          @for (employee of employees; track $index) {
            <option [value]="employee.firstName+' '+employee.lastName">
              {{ employee.firstName+' '+employee.lastName }}
            </option>
          }
        </select>
      </div>
      <div class="d-flex gap-3">
        <div class="w-100">
          <label class="form-label">
            2. Datum
            @if (form.value.useDate !== originalValues.useDate) {
              <span class="text-danger">
                (Alter Wert: {{ originalValues.useDate }})
              </span>
            }
          </label>
          <input
            type="date"
            class="form-control"
            formControlName="useDate">
        </div>
        <div class="w-100">
          <label class="form-label">
            3. Kostenstelle
            @if (form.value.costDepartment !== originalValues.costDepartment) {
              <span class="text-danger">
                (Alter Wert: {{ originalValues.costDepartment }})
              </span>
            }
          </label>
          <select class="form-select" formControlName="costDepartment">
          @for (costOrder of costOrders; track costOrder.name) {
            <option [value]="costOrder.name">
              {{ costOrder.name }}
            </option>
          }
        </select>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="w-100">
          <label class="form-label">
            4. Markerlstufe
            @if (form.value.costRank !== originalValues.costRank) {
              <span class="text-danger">
                (Alter Wert: {{ originalValues.costRank }})
              </span>
            }
          </label>
          <select class="form-select" formControlName="costRank">
          @for (tier of tiers; track tier.name) {
            <option [value]="tier.name">
              {{ tier.name }}
            </option>
          }
        </select>
        </div>
        <div class="w-100">
          <label class="form-label">
            5. Restaurant
            @if (form.value.restaurant !== originalValues.restaurant) {
              <span class="text-danger">
              (Alter Wert: {{ originalValues.restaurant }})
            </span>
            }
          </label>
          <select class="form-select" formControlName="restaurant">
          @for (restaurant of restaurants; track restaurant.name) {
            <option [value]="restaurant.name">
              {{ restaurant.name }}
            </option>
          }
        </select>
        </div>
      </div>
      <div class="w-100">
        <label class="form-label">
          6. Status
          @if (form.value.status !== originalValues.status) {
            <span class="text-danger">
              (Alter Wert: {{ originalValues.status }})
            </span>
          }
          <span class="text-danger-emphasis">DIESER WERT SOLLTE NUR IN NOTFÄLLEN GEÄNDERT WERDEN</span>
        </label> <select class="form-select" formControlName="status">
        <option value="CHECKED">Abgeglichen</option>
        <option value="NEEDS_FIXING">Korrektur erforderlich</option>
        <option value="CONFLICT">Konflikt</option>
        <option value="OPEN">Offen</option>
      </select>
      </div>
      <div>
        <label class="form-label">Grund der Korrektur</label>
        <textarea class="form-control" rows="4" formControlName="correctionReason"></textarea>
      </div>
      <div class="d-flex gap-3">
        <app-button-comp
          text="Korrektur speichern"
          buttonDesignType="primary"
          buttonType="submit"
          [disabled]="form.invalid || form.pending">
        </app-button-comp>
        <app-button-comp
          text="Änderungen verwerfen"
          buttonDesignType="secondary"
          buttonType="button"
          (click)="resetForm()">
        </app-button-comp>
        <app-button-comp
          text="Ticket löschen"
          buttonDesignType="danger"
          buttonType="button"
          (click)="deleteTicket(id())">
        </app-button-comp>
        <app-button-comp
          text="Abbrechen"
          buttonDesignType="outline-secondary"
          buttonType="link"
          link="http://localhost:4200/ticket-details/{{dataDetail().rows[0]['id']}}">
        </app-button-comp>
      </div>
    </form>
  </div>
</div>
