<table class="table table-bordered caption-top">
  @if (caption().length > 0) {
    <caption>{{ caption() }}</caption>
  }
  <thead class="table-light">
  <tr>
    @for (header of data()?.headers; track $index) {
      <th scope="col">{{ header.toUpperCase() }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (row of data()?.rows; track $index) {
      <tr>
        @for (key of data()?.headers; track key) {
          @if (row[key] instanceof Date)  {
            <td>{{ row[key] | date:'dd.MM.yyyy' }}</td>
          } @else if (row[key] instanceof Status) {
            <td><app-badge-comp text="{{ row[key].value }}" bgColor="{{ row[key].color }}"></app-badge-comp></td>
          } @else {
            <td>{{ row[key] }}</td>
          }
        }
      </tr>
    }
  </tbody>
</table>
