<nav class="restaurant-navigation bg-white border-top" aria-label="Restaurant Navigation">

  <a
    class="navigation-link d-flex flex-column align-items-center py-3 text-decoration-none"
    routerLink="/restaurant/user/overview"
    routerLinkActive="active"
  >
    <i class="bi bi-house-door fs-5" aria-hidden="true"></i>

    <span>Start</span>
  </a>

  <a
    class="navigation-link d-flex flex-column align-items-center py-3 text-decoration-none"
    routerLink="/restaurant/user/scan"
    routerLinkActive="active"
  >
    <i class="bi bi-qr-code-scan fs-5" aria-hidden="true"></i>

    <span>Scan</span>
  </a>

  <a
    class="navigation-link d-flex flex-column align-items-center py-3 text-decoration-none"
    routerLink="/restaurant/user/history"
    routerLinkActive="active"
  >
    <i class="bi bi-clock-history fs-5" aria-hidden="true"></i>

    <span>Verlauf</span>
  </a>
  
</nav>
